---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentBlock from '../components/ContentBlock.astro';
---

<BaseLayout>
	<h1>Main Index</h1>
	<a href="./admin">ADMIN LINK</a>
</BaseLayout>
<h1>FRONT LOGO</h1>
<ContentBlock></ContentBlock>